section#conferences.cv__section(data-animate="fadeInUp")
  .section__container
    h2.section__title Conferencias y Cursos Impartidos
    .conferences__list
      each conf in conferences
        .conference__item(data-animate="fadeInRight")
          h3.conference__title= conf.title
          p.conference__event= conf.event
          p.conference__location= conf.location
