header.cv__header(data-animate="fadeIn")
  .header__content
    h1.header__name= header.name
    p.header__title= header.title
    p.header__role= header.role
    .header__vision
      p= header.vision
